<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <!-- <a href="/">Home</a>
        <a href="/about">About</a> -->
        <h1>Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum hic deserunt reprehenderit delectus sed. Praesentium neque et repellendus blanditiis omnis!</p>
        <!-- <h2><%= name  %></h2> -->
        <!-- <h2><%= class  %></h2> -->
    </div>
</body>
</html>